################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/3DLab1/Debug
/3DLab1/.vs/3DLab1/v15
/GraphicsEngine/qt57
/GraphicsEngine/SDKs/OpenGL
/GraphicsEngine/BUILD
/GraphicsEngine/vs2010/.vs/vs2010/v15
