################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/3DLab1/Debug
/3DLab1/.vs/3DLab1/v15
